<div class="add-trap">
	<p-breadcrumb [model]=" add "></p-breadcrumb>
	<p class="title">{{titleForm}}</p>
</div>
<div>
	<form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
		<div class="ui-fluid">
			<div class="ui-g">
				<div class="ui-g-12">
					<div class="ui-g-4">
						Enable
					</div>
					<div class="ui-g-8">
						<p-inputSwitch name="status" formControlName="status"></p-inputSwitch>
					</div>
				</div>

				<div class="ui-g-12">
					<div class="ui-g-4">
						Destination Name <span class="char">*</span>
					</div>
					<div class="ui-g-8">
						<input type="text" required name="destinationName" formControlName="destinationName" class="input-form">
						<p-message severity="error" text="Destination Name is required"
							*ngIf="userform.controls['destinationName'].errors?.required && userform.controls['destinationName'].dirty">
						</p-message>
					</div>
				</div>

				<div class="ui-g-12">
					<div class="ui-g-4">
						IP Address (v4/v6) <span class="char">*</span>
					</div>
					<div class="ui-g-8">
						<input id="address" required type="text" name="ipAddress" formControlName="ipAddress" class="input-form">
						<p-message severity="error" text="IP Address (v4/v6) is required"
							*ngIf="userform.controls['ipAddress'].errors?.required && userform.controls['ipAddress'].touched">
						</p-message>
						<p-message severity="error" text="not IP Address (v4/v6 format)"
							*ngIf="userform.controls['ipAddress'].errors?.pattern && userform.controls['ipAddress'].touched">
						</p-message>
					</div>
				</div>

				<div class="ui-g-12">
					<div class="ui-g-4">
						Port Number <span class="char">*</span>
					</div>
					<div class="ui-g-8">
						<input id="portNumber" required type="text" name="portNumber" formControlName="portNumber"
							class="input-form">
						<p-message severity="error" text="Port Number is required"
							*ngIf="userform.controls['portNumber'].errors?.required && userform.controls['portNumber'].touched">
						</p-message>
						<p-message severity="error" text="not Port Number is required"
							*ngIf="userform.controls['portNumber'].errors?.pattern && userform.controls['portNumber'].touched">
						</p-message>
					</div>
				</div>

				<div class="ui-g-12">
					<div class="ui-g-4">
						SNMP Trap Community <span class="char">*</span>
					</div>
					<div class="ui-g-8">
						<input id="address" required type="text" name="community" formControlName="community" class="input-form">
						<p-message severity="error" text="SNMP Trap Community is required"
							*ngIf="userform.controls['community'].errors?.required && userform.controls['community'].dirty">
						</p-message>
					</div>
				</div>

				<div class="ui-g-12">
					<div class="ui-g-4">
						SNMP Trap Version <span class="char">*</span>
					</div>
					<div class="ui-g-8">
						<p-dropdown [options]="trapversion" formControlName="version" (ngModelChange)="handleV3()">
						</p-dropdown>
						<p-message severity="error" text="SNMP Trap Version is required"
							*ngIf="userform.controls['version'].errors?.required && userform.controls['version'].dirty">
						</p-message>
					</div>
				</div>
				<div *ngIf="V3">
					<div class="ui-g">
						<div class="ui-g-12">
							<div class="ui-g-4">
								SNMP V3Local Engine ID <span class="char">*</span>
							</div>
							<div class="ui-g-8">
								<input id="engine" required type="text" name="engine" formControlName="engine" class="input-form">
							</div>
						</div>

						<div class="ui-g-12">
							<div class="ui-g-4">
								SNMP V3 User <span class="char">*</span>
							</div>
							<div class="ui-g-8">
								<input id="v3user" required type="text" name="v3user" formControlName="v3user" class="input-form">
							</div>
						</div>

						<div class="ui-g-12">
							<div class="ui-g-7">
								<span class="securaty">Security</span>
								<hr class="security-hr" />
							</div>
						</div>

						<div class="ui-g-12">
							<div class="ui-g-4">
								Authentication Disabled
							</div>
							<div class="ui-g-8">
								<p-inputSwitch name="authentication" formControlName="authentication"
									(ngModelChange)="handleAuthentication()"></p-inputSwitch>
							</div>
						</div>
						<div *ngIf="authenticationV3">
							<div class="ui-g">
								<div class="ui-g-12">
									<div class="ui-g-4">
										SNMP v3 Authentication Passphrase<span class="char">*</span>
									</div>
									<div class="ui-g-8">
										<input id="address" required type="text" name="authenticationPassphrase"
											formControlName="authenticationPassphrase" class="input-form">
									</div>
								</div>
							</div>
							<div class="ui-g">
								<div class="ui-g-12">
									<div class="ui-g-4">
										SNMP V3 Authentication Protocol <span class="char">*</span>
									</div>
									<div class="ui-g-8">
										<p-dropdown [options]="authenticationProtocol" formControlName="authenticationProtocol">
										</p-dropdown>
									</div>
								</div>
							</div>
						</div>

						<div class="ui-g-12">
							<div class="ui-g-4">
								Privacy Disabled
							</div>
							<div class="ui-g-8">
								<p-inputSwitch name="privacy" formControlName="privacy" (ngModelChange)="handlePrivacy()">
								</p-inputSwitch>
							</div>
						</div>
						<div *ngIf="privacyV3">
							<div class="ui-g">
								<div class="ui-g-12">
									<div class="ui-g-4">
										SNMP V3 Privacy Passphrase <span class="char">*</span>
									</div>
									<div class="ui-g-8">
										<input id="privacyPassphrase" required type="text" name="privacyPassphrase"
											formControlName="privacyPassphrase" class="input-form">
									</div>
								</div>
								<div class="ui-g-12">
									<div class="ui-g-4">
										SNMP Trap V3 Privacy Protocol <span class="char">*</span>
									</div>
									<div class="ui-g-8">
										<p-dropdown [options]="privacyProtocol" formControlName="privacyProtocol">
										</p-dropdown>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="button-model">
			<div class="button-group">
				<p-button label="Cancel" (click)="onCancel()" icon="pi pi-times" iconPos="left" styleClass="ui-button-secondary"
					class="button-cancel"></p-button>
				<p-button label="Save" icon="pi pi-check" iconPos="left" styleClass="ui-button-danger"
					[disabled]="!userform.valid"></p-button>
			</div>
		</div>
	</form>
</div>