.add-trap{
    padding: 10px;
}
.button-add{
    margin-bottom: 10px;
    margin-top: -9px;
}
.router-link {
    text-decoration: none;
    color: black;
}
.message-detail {
    text-align: left;
    padding-left: 43px;
}
.common{
    margin-left: 10px;
}

:host ::ng-deep rbn-common-table .status-icon .fa-check-circle-o{
    color: green;
    }
:host ::ng-deep rbn-common-table  .status-icon .fa-times-circle-o {
    color: red;
    }