<div class="header">
    <img #img src="../../assets/logo.png" alt="Logo" class="header-image">
    <div class="icon-group">
        <i class="pi pi-bell" id="bell"></i>
        <i class="pi pi-user" id="user"></i>
        <p-menubar [model]="items" class="menu-mega"></p-menubar>
    </div>
</div>

<div>
    <div class="menu-bar">
        <app-menubar></app-menubar>
    </div>

    <div class="content">
        <app-trap-destinations></app-trap-destinations>
        <!-- <app-add-trap-destinations style="width: 100%;"></app-add-trap-destinations> -->
    </div>
</div>