/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px !important;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.ui-panelmenu .ui-panelmenu-header > a {
    border: 0px !important;
    background-color:#4a4a4a !important;
    color: #a4afbf !important;
}
.ui-panelmenu .ui-panelmenu-header:not(.ui-state-active) > a:hover {
    border: 0px solid #dbdbdb !important;
    background-color: #d0d7db !important;
    color: #a4afbf !important;
}
.ui-breadcrumb {
    border: 0px !important;
 }
.ui-g-8 {
    width: 35% !important;
}
.ui-widget-content p {
    margin: 0px !important;
}
body .ui-dialog {
    width: 600px !important;
}
.ui-widget {
    text-align: center;
}
body .ui-widget-content p {
    text-align: left;
}
body .ui-panelmenu .ui-panelmenu-header > a {
    text-align: left;
}
body .ui-table .ui-table-thead > tr > th {
    color: #666666 !important;
    background-color: #ebedf0 !important;
}
body .ui-breadcrumb {
    text-align: left;
}
.ui-menuitem-text {
    color: #858586 !important ;
    font-weight: 800;
}
body .ui-menubar {
    padding: 0;
    background-color: #1d1f21 !important;
    border: 0px solid #1d1f21 !important;
}
.ui-menubar .ui-menubar-root-list>.ui-menuitem>.ui-menuitem-link>.ui-submenu-icon {
    color: #a4afbf !important;
}
.ui-table .ui-paginator-bottom {
    text-align: right;
}
body .ui-corner-all {
    border-radius: 0px !important;
}
.ui-panelmenu .ui-panelmenu-content .ui-menuitem {
    background-color: #dee2e4 ;
    /* background-color: #333 ; */
}
.ui-dropdown label.ui-dropdown-label {
    text-align: left;
}
.ui-paginator .ui-paginator-left-content {
    padding-top: 8px;
    padding-left: 10px;
    color: black;
    font-weight: 500;
}
body .ui-dialog .ui-dialog-titlebar .ui-dialog-title {
    float: left !important;
}
.ui-g {
    display: inherit !important;
}
body .ui-toast .ui-toast-message.ui-toast-message-info {
    background-color: #7ff14b !important;
    height: 155px;
}