/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px !important;
    height: auto;
}
.ui-panelmenu .ui-panelmenu-header > a {
    border: 0px !important;
    background-color:#4a4a4a !important;
    color: #a4afbf !important;
}
.ui-panelmenu .ui-panelmenu-header:not(.ui-state-active) > a:hover {
    border: 0px solid #dbdbdb !important;
    background-color: #d0d7db !important;
    color: #a4afbf !important;
}
.ui-breadcrumb {
    border: 0px !important;
 }
.ui-g-8 {
    width: 35% !important;
}
.ui-widget-content p {
    margin: 0px !important;
}
body .ui-dialog {
    width: 300px !important;
}
.ui-widget {
    text-align: center;
}
body .ui-widget-content p {
    text-align: left;
}


body .ui-panelmenu .ui-panelmenu-header > a {
    text-align: left;
}
body .ui-table .ui-table-thead > tr > th {
    color: #666666 !important;
    background-color: #ebedf0 !important;
}
body .ui-breadcrumb {
    text-align: left;
}
.ui-menuitem-text {
    color: #a4afbf !important ;
}
body .ui-menubar {
    padding: 0;
    background-color: black !important;
    border: 0px solid black !important;
}
.ui-menubar .ui-menubar-root-list>.ui-menuitem>.ui-menuitem-link>.ui-submenu-icon {
    color: #a4afbf !important;
}
.ui-table .ui-paginator-bottom {
    text-align: right;
}